{% extends "base.html" %}
{% load flag_tags %}
{% block content %}
    <h1>Users</h1>
    <ul>
        {% for user in user_list %}
        <li>
            <strong>{{ user.username }}</strong>
            -
            {% with user|flag_count as user_flag_count %}
                {% if user_flag_count %}
                Flagged {{ user_flag_count }} times (status {{ user|flag_status }})
                {% else %}
                    Never flagged
                {% endif %}
            {% endwith %}
            -
            {% if request.user.is_authenticated %}
                {% if user|can_be_flagged_by:request.user %}
                    <a href="{{ user|flag_confirm_url }}">Flag</a>
                {% else %}
                    Already flagged enough
                {% endif %}
            {% else %}
                - You must be authenticated to flag !

            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
